.example-fdcms {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    width: 100px;
    height: 400px;
}

.example-fdcms .box {
    height: 100px;
}

.example-fdcms .box-2 {
    -webkit-box-flex: 1;
    overflow-y: scroll;
}
